<div id="follows_bar">
  <a href="/users/<%= @user.handle %>/followers">followers</a>
  &nbsp;
  <%= @user.followers %>
  &nbsp;
  <a href="/users/<%= @user.handle %>/following">following</a>
  &nbsp;
  <%= @users.following %>
</div>