<div id="navbar">
  <a href='/'><span id="navbar_logo">Tweeter</span></a>
  <ul class="navbar_list">
    <li><button><a href="/users/<%= @user.handle %>">My Profile</a></button></li>
    <li><button><a href="/users/<%= @user.handle %>/tweets/new">Compose New Twit</a></button></li>
    <li><button><a href='/logout'>Logout</a></button></li>
  </ul>
</div>