<div id="navbar">
  <a href='/'><span id="navbar_logo">Tweeter</span></a>
  <ul class="navbar_list">
    <li><button><a href='/register'>Register</a></button></li>
    <li><button><a href='/login'>Login</a></button></li>
  </ul>
</div>