<form action="/register" method="post">
  <h2>Register</h2>
  <table class="index_form">
    <tr>
      <td class="inputtext">Name:</td>
      <td><input class="inputbox" type="text" name="name"></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="inputtext">Email:</td>
      <td><input class="inputbox" type="text" name="email"></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="inputtext">Username:</td>
      <td><input class="inputbox" type="text" name="handle"></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="inputtext">Password:</td>
      <td><input class="inputbox" type="text" name="password"></td>
      <td rowspan="4"><button type="submit" value="register">Sign me up!</button></td>
    </tr>
  </table>
</form>