<div id="userprofile">
  <img src="http://www.gravatar.com/avatar/<%= gravatar_hash(@user.email) %>">
  <span class="user_name"><%= @user.name %></span>
  <span class="user_handle"><%= @user.handle %></span>
</div>