<div id="navbar" class="shadow">
  <a href='/'><span id="navbar_logo">Tweeter</span></a>
</div>

<div class="topbox shadow">
  <h1>Welcome to Tweeter!</h1>
  <%= erb(:_login) %>
  <%= erb(:_register) %>

  <img id="sylvester" src="/img/sylvester.png">
</div>