<div>
  <ul class="navbar_in">
  <li class="logo"><a href='/'>Tweeter Home</li></a></li>
    <li><button><a href="/users/<%= @user.handle %>">My Profile</a></button></li>
    <li><button><a href="/users/<%= @user.handle %>/tweets/new">Compose New Twit</a></button></li>
    <li><button><a href='/logout'>Logout</a></button></li>
  </ul>
</div>