<%= erb :_navbar_logged_in if session[:user]%>

<div class="container">

  <%= erb :_userprofile %>

<% for tweet in @tweets %>
  <%= erb :_tweet, locals: {tweet: tweet} %>
<% end %>

  <a href='/users/<%= @user.handle %>/feed'>Tweet Feed</a>
  <br>
  <a href='/logout'>Logout</a>
</div>

