<%= erb :_navbar_logged_in if session[:user]%>

<div class="container">

  <%= erb :_userprofile %>

  <a href='/users/<%= @user.handle %>/feed'>Tweet Feed</a>
  <br>
  <a href='/logout'>Logout</a>
</div>
