<%= erb :navbar_logged_in %>
<div class="container">
<h1>Tweet Feed</h1>
<ul>
    <% @tweets.each do |tweet| %>
        <li><%=  "#{tweet.updated_at.strftime("%d %b. %Y")} - #{tweet.location} - #{tweet.content}" %></li>
     <% end %>
  </ul>
  <a href='/users/<%= @user.handle %>'> Your Profile</a>
  <br>
  <a href='/logout'>Logout</a>
</div>
