<div class="container">
<h1><%= @user.handle %>'s Profile</h1>
  <ul>
    <li>Name: <% @user.name %></li>
    <li>Email: <% @user.email %></li>
  </ul>
  <br>
  <ul>
    <li>Tweets:<% @user.tweets.each do |tweet|
        p "#{tweet.created_at} #{tweet.content} #{tweet.location}"
      end %></li>
  </ul>
  <a href='/'>All Tweets</a>
  <a href='/logout'>Logout</a>
</div>
